* {
  margin: 0;
  padding:0;
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Calibri;
}

.p1 main {
  min-height: 80vh;
  background-color:#b0bec5;
}

/*.p1 {
  background-image: url(../img/bckground.jpg);
  background-size: cover;
  color: white;
}*/

.p1 header {
  display: flex;
  align-items: center;
  min-height: 20vh;
  background-color:#37474f;
}

.p1 .logo {
  flex: 1;
  font-size: 2rem;
  padding-left: 100px;
  font-family:Calibri;
  font-weight: bold;
  color:white;
}
.p1 .logo .mantra {
  font-size: 1rem;
}

.p1 ul{
  list-style:circle;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding-top: 20px;
  /*with only two menu items it doesnt look layed our nicely, so I will change padding to the right in the mean time*/
  /*it was 100px, to match logo padding on the left but I will make it px until we have three items again*/
  /*padding-right: 40px;*/
}
.p1 a {
  text-decoration: none;
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}

.p1 a:hover {
  color: #28c5e2;  
  opacity: 0.9;
}

.p1 li {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  cursor: pointer;
}

.p1 main .quote{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding-top:20px;
    font-style:italic;
}

.p1 h1{
    padding-left: 200px;
    padding-top:30px;
}

/*Style fine,only should not apply to the twitter link, the <p> have been divided into bio and tail*/
.p1 main .bio{
    display:flex;
    flex:1;
    justify-content: space-evenly;
    /*centralise the content of this conatiner via parent container will not work as the content itself 
        does not live any space for centralising,see description align-items to understand in html*/
    padding-left: 200px;
    padding-right:200px;
}

.p1 main img{
    border-radius:50%;
}
.p1 main .bio-tail {
    padding-left: 200px;
    padding-right:200px;
}

/*some values and unknown attributes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 40px;
}*/

/*---------------------------------------------------------------------------------------------------------------------------*/

.p2 {
  min-height: 100vh;
  display: flex;  
  background-color: #37474f;
  padding-left: 200px;
  padding-right:200px;
  /*the following attributes centralises content*/
  /*justify-content: space-evenly;
  align-items: center;*/
}

.p2 .text {
  /*width: 20%;- boxes content*/
  color: white;
  font-size: 15px;
}


.p2 .text h1 {
  padding-bottom: 20px;
  padding-top:30px
}

.p2 .text p {
  font-size: 20px;
}
.p2 .text .cvdwnld{
    padding-top:40px;
}
.p2 .contact{
    align-self:flex-end;
    padding-bottom:250px;
    color:grey;
    width:43%;
}
.p2 button {
  background-color: #3f3d56;
  border: none;
  width: 164px;
  height: 40px;
  font-size: 18px;
  font-family: Oswald;
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
  margin-top: 5%;
}

.p2 button:hover {
  opacity: 0.9;
}
/*not working,still messy had it worked*/
/*.p2 .text span{
    padding-left:4px;
}*/
/*&nbsp;&nbsp;-this are not working either*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.p3 {
  background-color:#b0bec5;
}

.p3 header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p3 header h1 {
  font-size: 40px;
  color: white;
}

.p3 main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.p3 ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

.p3 li {
  background-color: #2688a0;
  color: white;
  width: 314px;
  height: 404px;
  text-align: center;
}

.p3 li .full {
  background-color: #3f3d56;
  margin-bottom: 20px;
  color: white;
  border: none;
}

.p3 li .empty {
  border: 4px solid #3f3d56;
  background-color: transparent;
  color: white;
}

.p3 li h4 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}

.p3 li button {
  width: 164px;
  height: 40px;
  font-size: 18px;
  font-family: Oswald;
  transition: 0.3s ease;
  cursor: pointer;
}

.p3 li button:hover {
  opacity: 0.9;
}

.p3 li img {
  width: 233px;
  height: 164px;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0bec5;
  color: white;
}

label,
input {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 50px;
  border: none;
}

textarea {
  height: 200px;
  border: none;
}

/*footer button {
  background-color: #3f3d56;
  border: none;
  width: 164px;
  height: 40px;
  font-size: 18px;
  font-family: Oswald;
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
  margin-top: 5%;
}

footer button:hover {
  opacity: 0.9;
}*/

@media screen and (max-width: 500px) {
  .p1 header {
    flex-direction: column;
    padding: 0;
  }

  .p1 .logo {
    padding: 0;
  }

  .p1 ul {
    flex-direction: column;
    padding: 0;
  }

  .p1 li {
    flex-direction: column;
    padding-bottom: 5px;
    font-size: 20px;
  }

  .p1 main h1 {
    font-size: 45px;
  }
  .p1 main p {
    font-size: 24px;
  }
  .p1 main .icons {
    font-size: 30px;
  }

  .p2 {
    flex-direction: column;
  }

  .p2 .text {
    width: 20vh;
    height: auto;
  }

  .p2 .text h1 {
    font-size: 20px;
    text-align: center;
  }

  .p2 .text p {
    font-size: 18px;
  }

  .p2 img {
    width: 100%;
    height: auto;
  }

  .p3 li {
    margin-top: 10%;
  }

  .p3 ul {
    padding-bottom: 10%;
  }

  footer {
    text-align: center;
  }
  label,
  input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: none;
  }
}

@media screen and (max-width: 1000px) {
  .p2 img {
    width: 50%;
    height: auto;
  }
  .p2 .text {
    width: 20vh;
    height: auto;
  }

  .p2 .text h1 {
    font-size: 20px;
    text-align: center;
  }

  .p2 .text p {
    font-size: 18px;
  }
}
